@model IEnumerable<Course>

<h1>These are my courses</h1>
<!--drop down list-->
<select>
    <option> Choose course: </option>
    @foreach (Course course in Model)
    {
        <option>@course.Name</option>
    }
</select>
