<h3>
    Submission details and deadline
</h3>

<p>
    You need to submit a file (zipped) which contains the whole site on @Model
</p>

<h3>
    Grading
</h3>

<p>
    The grades available is U, G, and VG which represent Not Pass, Pass and Pass with excellence.
</p>