<h1>
    Exams   
</h1>

<h2>Choose what task you would like submit</h2>

<ul>
    <li><a asp-controller="Exam" asp-action="ExamOne">Exam 1</a></li>
    <li><a asp-controller="Exam" asp-action="ExamTwo">Exam 2</a></li>
    <li><a asp-controller="Exam" asp-action="ExamThree">Exam 3</a></li>
</ul>