@model Student

<h1>Welcome to my School!!!!!</h1>

<form asp-controller="Home" asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>
    <p>
        <!-- asp-for connects the model (Student) variable directly-->
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <input type="submit" value="Submit" />
        <input type="reset" />
    </p>
</form>