<h1>Current state of the cookies: </h1>


<!--cookies good for temp data-->
<!--cookies good for less/small data-->
<!--cookies saved in client/browser-->
<!--cookies dont have much security-->
<!--cookies accessed thru response and requests-->


<p style="font-family:@ViewBag.FontName">Font name: @ViewBag.FontName</p>
<p style="font-size:@ViewBag.FontSize">Font size: @ViewBag.FontSize</p>
<p style="color:@ViewBag.FontColor">Font color: @ViewBag.FontColor</p>

<a asp-controller"Home" asp-action="Index">Go back to home page</a>
